* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.navbar {
    position: relative;
    top: 0%;
    /* background-color: rgb(248, 246, 246); */
    background-color: #A8DF8E;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 90px;
    box-shadow: 0px -10px 30px 10px black;
    z-index: 1;
}
.navbar .logo{
    width: 150px;
    height: 60px;   

}
.navbar .logo img {
    object-fit: inherit;
    width: 150px;
    height: 60px;   
    mix-blend-mode: difference;
}

.navbar.navlist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlist ul {
    display: flex;
    padding-top: 6px;
    align-items: center;
    justify-content: center;
    gap: 45px;
    list-style: none;
}

a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.navlist .nav-btn {
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 12px;
    cursor: default;
    background-color: blue;
    color: white;
    font-weight: 700;
    border: none;
}

.navlist .nav-btn-logout {
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 12px;
    cursor: default;
    background-color: red;
    color: white;
    font-weight: 700;
    border: none;

    & a {
        color: white;

    }
}

.nav-btn a {
    color: white;

}


.heading {
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px;
}

/* navbar */





.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
 
    min-height: 100vh;
    padding: 20px 100px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 20px;
    text-align: center;
    border: 3px solid rgb(18, 122, 5);
    font-weight: 600;
    
}
thead td{
    border: 5px solid rgb(12, 121, 19);
    font-size: 20px;
    font-weight:700;
    text-transform: capitalize;
    padding: 1px;
}
td{
    text-transform: uppercase;
}

img {
    /* width:100%; */
    height: 100px;
    object-fit: cover;
}

input {
    width: 50px;
    height: 30px;
    font-weight: 700;
    text-align: center;
}

.r-btn {
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 8rem;
    color: white;
    text-align: center;
}


/* summary card */

.summary-card{
    width: 100%;
    display: flex;
    gap: 20%;

    margin-top: 80px;
}

.main-summary{
    width: 35%;
    border: 2px solid black;
    display: flex;
    padding: 50px;
    gap: 10%;
    background-color: whitesmoke;
    border-radius: 30px;
    font-size: 15px;
}

.payment{
    width: 35%;
    border: 2px solid black;
    /* display: flex;
    flex-direction: column; */
    padding: 50px;
    gap: 10%;
    background-color: whitesmoke;
    border-radius: 30px;
    font-size: 15px;
}
.payment {
    font-size: 20px;
    /* display: flex; */
}
.payment input[type="text"]{
    width: 200px;
    height: 30px;
    border: 2px solid rgb(98, 217, 98);
    letter-spacing: 3px;

}

.order-btn{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;


    & button{
        width: 90%;
        padding: 15px;
        background-color: rgb(41, 214, 41);
        border-radius: 40px;
        border: none;
        font-weight: 700;
        font-size: 17px;
        color: white;

    }
}

